<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}TECH BLOG 管理サイト{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
  <link rel="stylesheet" href="{{ CSS_MODULE_DIR }}/reset.css">
  <link rel="stylesheet" href="{{ CSS_MODULE_DIR }}/module.css">
  <link rel="stylesheet" href="{{ CSS_ADMIN_DIR }}/app.css">
  {% block head %}
  {% endblock %}
</head>
<body>
<div class="l-container">
  <div class="l-nav_area">
    <a href="{{ APP_URL }}controller/admin/index.php">
    <div class="nav_title">
      <h3>管理画面</h3>
      <p>- TECH BLOG -</p>
    </div>
    </a>
    <div class="user_info">
      <div class="login_user">
        <i class="fa-solid fa-circle-user fa-4x i_user"></i>
        <p>テスト さん、こんにちは！</p>
      </div>
    </div>
    <nav class="l-nav">
      <ul>
        <li><a href="{{ APP_URL }}controller/admin/index.php">
          <i class="fa-solid fa-house nav_icon nav_i_home"></i><span class="nav_label nav_i_home">ホーム</span>
        </a></li>
        <li><a href="#">
          <i class="fa-solid fa-envelope-open-text nav_icon"></i><span class="nav_label">投稿一覧</span>
        </a></li>
        <li><a href="{{ APP_URL }}controller/admin/addPost.php">
          <i class="fa-solid fa-file nav_icon"></i><span class="nav_label">新規投稿</span>
        </a></li>
        <li><a href="#">
          <i class="fa-solid fa-pen-to-square nav_icon"></i><span class="nav_label">編集</span>
        </a></li>
        <li><a href="#">
          <i class="fa-solid fa-magnifying-glass nav_icon"></i><span class="nav_label">検索</span>
        </a></li>
        <li><a href="#">
          <i class="fa-solid fa-star nav_icon"></i><span class="nav_label">おすすめ記事設定</span>
        </a></li>
        <li><a href="#">
          <i class="fa-solid fa-user nav_icon"></i><span class="nav_label">プロフィール</span>
        </a></li>
        <li><a href="#">
          <i class="fa-brands fa-instagram nav_icon"></i><span class="nav_label">SNS設定</span>
        </a></li>
        <li><a href="#">
          <i class="fa-solid fa-envelope nav_icon"></i><span class="nav_label">お問い合わせ</span>
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="l-admin_content_area">
    {% block content %}
    {% endblock %}
  </div>
</div>

  <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a6492244a5.js" crossorigin="anonymous"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
