{% extends "app.twig" %}

{% block title %}投稿詳細{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="l-container">
<div class="article-content">
  <h1>{{ post.title }}</h1>
  {{ post.content | raw }}
</div>
</div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
{% endblock %}



{# <html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
</head>
<body>
<div class="l-container">
<div class="article-content">
  <h1>{{ post.title }}</h1>
  {{ post.content | raw }}
</div>
</div>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>
</html> #}
