{% extends "app.twig" %}
{% block title %}TECH BLOG{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ CSS_FRONT_DIR }}/index.css">
  <link rel="stylesheet" href="{{ CSS_FRONT_DIR }}/commons/wave.css">
{% endblock %}
{% block content %}
  <div class="l-container">
  <div class="wave">
    <canvas id="waveCanvas"></canvas>
  </div>
  <div class="l-title_area">
    <h1 class="title">
      <span>T</span>
      <span>E</span>
      <span>C</span>
      <span>H</span>
      <span>&nbsp;</span>
      <span>B</span>
      <span>L</span>
      <span>O</span>
      <span>G</span>
    </h1>
  </div>
  <div class="l-nav_area">
    <nav>
      <ul>
        <li class=”current”><a href=”#”>Home</a></li>
        <li><a href=”#”>Content</a></li>
        <li><a href=”#”>Search</a></li>
        <li><a href=”#”>Profile</a></li>
        <li><a href=”#”>Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="l-enhancement_section">
    <div class="l-recommend_post_area">
      {% for post in posts %}
      <div class="rec_post_content">
      <a href="{{ APP_URL }}/controller/front/detail.php?post_id={{ post.post_id }}">
        {% if post.heading_image is null %}
            <img class="rec_img" src="{{ IMAGE_DIR }}/post.sample.1.png" alt="{{ post.title }}">
        {% else %}
            <img class="rec_img" src="{{ post.heading_image }}" alt="{{ post.title }}">
        {% endif %}
        <h2 class="rec_title">{{ post.title }}</h2>
      </a>
      </div>
      {% endfor %}
    </div>
    <div class="l-menu_area">
    </div>
    </div>
  </div>
  <div class="" style="height: 700px;">
    <p>タイポデザイン  人生・スキル・...</p>
</div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script src="{{ JS_FRONT_DIR }}/commons/wave.js"></script>
{% endblock %}
